<!DOCTYPE html>
<html>
<head>
    <title>Activities</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Activities</h2>
    
    <!-- Add a container for the activity table -->
    <div class="activity-list">
        <table>
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.Activity_Name }}</td>
                        <td>{{ activity.Activity_Location }}</td>
                        <td>{{ activity.Activity_Date|date:"F j, Y" }}</td>
                        <td>{{ activity.Start_Time|time:"g:i A" }}</td>
                        <td>{{ activity.End_Time|time:"g:i A" }}</td>
                        <td>
                            <form action="{% url 'edit_activity' activity_id=activity.Activity_ID %}" method="get">
                                <button type="submit" class="button">Edit</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    
    <br>
    <form action="{% url 'organizer_home' %}">
        <button type="submit" class="button">Back to Organizer Home</button>
    </form>
</div>
</body>
</html>
