<!DOCTYPE html>
<html>
<head>
    <title>Create Activity</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content-wrapper">
        <h2>Create Activity</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Create</button>
        </form>
        <br>
        <form action="{% url 'organizer_home' %}">
            <button type="submit" class="back-button">Back</button>
        </form>
    </div>
</body>
</html>
