<!DOCTYPE html>
<html>
<head>
    <title>Create Organizer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Container to center the content -->
    <div class="content-wrapper">
        <h1>Organizer Information</h1>
        
        <!-- Form for submitting organizer and contact details -->
        <form method="post">
            {% csrf_token %}
            {{ organizer_form.as_p }}
            {{ contact_form.as_p }}
            
            <!-- Submit button -->
            <button type="submit" class="button">Submit</button>
        </form>
    </div>
</body>
</html>
