<!DOCTYPE html>
<html>
<head>
    <title>Create Participant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="content-wrapper">
            <h1>Participant Information</h1>
            <form method="post" class="form-container">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Submit</button>
            </form>
            <br>
        </div>
    </div>
    <form action="{% url 'home' %}">
        <button type="submit" class="back-button">Home</button>
    </form>
</body>
</html>
