<!DOCTYPE html>
<html>
<head>
    <title>Edit Organizer Summary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container1">
        <h2>Edit Organizer Information</h2>
        <div class="details-container">
            <form method="post">
                {% csrf_token %}
                <div class="organizer-info">
                    <h3>Organizer</h3>
                    <p><strong>Organizer ID:</strong> {{ organizer.Organizer_ID }}</p>
                    <p><strong>Type:</strong>
                        <select name="Organizer_Type" required>
                            <option value="Internal" {% if organizer.Organizer_Type == 'Internal' %}selected{% endif %}>Internal</option>
                            <option value="External" {% if organizer.Organizer_Type == 'External' %}selected{% endif %}>External</option>
                        </select>
                    </p>
                    <p><strong>Name:</strong> <input type="text" name="Organizer_Name" value="{{ organizer.Organizer_Name }}" required></p>
                    <p><strong>Address:</strong> <input type="text" name="Organizer_Address" value="{{ organizer.Organizer_Address }}" required></p>
                    <p><strong>Organization ID:</strong> <input type="text" name="Organizer_Number" value="{{ organizer.Organizer_Number }}" maxlength="5" required></p>
                </div>

                <div class="contact-person">
                    <h3>Contact Person</h3>
                    <p><strong>Contact Name:</strong> <input type="text" name="Contact_Name" value="{{ contact.Contact_Name }}" required></p>
                    <p><strong>Contact Email:</strong> <input type="email" name="Contact_Email" value="{{ contact.Contact_Email }}" required></p>
                    <p><strong>Contact Number:</strong> <input type="text" name="Contact_Number" value="{{ contact.Contact_Number }}" required></p>
                </div>

                <button type="submit" class="update-button">Update</button>
            </form>
        </div>
        <form action="{% url 'organizer_summary' organizer_id=organizer.Organizer_ID %}">
            <button type="submit" class="back-button">Back</button>
        </form>
    </div>
</body>
</html>
