<!DOCTYPE html>
<html>
<head>
    <title>Edit Activity</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="content-wrapper2">
            <h2>Edit Activity</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="save" class="button">Save Changes</button>
                <button type="submit" name="delete" class="button-danger">Delete Activity</button>
            </form>
            <br>
        </div>
    </div>
    <form action="{% url 'activities' %}">
        <button type="submit" class="back-button">Back</button>
    </form>
</body>
</html>
