<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <h2>Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Login</button>
        </form>
        <br>
        <form action="{% url 'home' %}">
            <button type="submit" class="back-button">Back</button>
        </form>
    </div>
</body>
</html>
