<!DOCTYPE html>
<html>
<head>
    <title>Organizer Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
        
    <div class="main-container1">
        <h2>Organizers</h2>
        <div class="details-container">
            <div class="organizer-info">
                <h3>Organizer</h3>
                <p>Organizer ID: {{ organizer.Organizer_Number }}</p>
                <p>Type: {{ organizer.Organizer_Type }}</p>
                <p>Name: {{ organizer.Organizer_Name }}</p>
                <p>Address: {{ organizer.Organizer_Address }}</p>
            </div>
        
            <div class="contact-person">
                <h3>Contact Person</h3>
                <p>Name: {{ contact_person.Contact_Name }}</p>
                <p>Email: {{ contact_person.Contact_Email }}</p>
                <p>Number: {{ contact_person.Contact_Number }}</p>
            </div>
        </div>
        
        
        <div class="table-container1">
            <h3>Activities</h3>
            <table>
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.Activity_Name }}</td>
                            <td>{{ activity.Activity_Location }}</td>
                            <td>{{ activity.Activity_Date|date:"F j, Y" }}</td>
                            <td>{{ activity.Start_Time|time:"g:i A" }}</td>
                            <td>{{ activity.End_Time|time:"g:i A" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="{% url 'organizer_home' %}">
            <button type="submit" class="back-button">Back</button>
        </form>
    </div>
</body>
</html>
