<!DOCTYPE html>
<html>
<head>
    <title>Participant Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <h2>Welcome, {{ user.username }}</h2>
        
        <div class="button-container">
            <form action="{% url 'participant_summary' participant_id=participant.ID_Number %}">
                <button type="submit" class="custom-button">Profile Information</button>
            </form>
            
            {% if not participant.ID_Number %}
                <p>Participant ID is not available.</p>
            {% endif %}
            
            <br>

            <form action="{% url 'logout' %}">
                <button type="submit" class="button">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>
