<!DOCTYPE html>
<html>
<head>
    <title>Participant Summary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container1">
        <h2>Participant Information</h2>
        <div class="content-wrapper">
            <p><strong>Participant:</strong> {{ participant.Participant_Name }}</p>
            <p><strong>ID Number:</strong> {{ participant.ID_Number }}</p>
            <p><strong>Birth Date:</strong> {{ participant.Birth_Date }}</p>
            <p><strong>Department:</strong> {{ participant.Department }}</p>
            <p><strong>Participant Type:</strong> {{ participant.Participant_Type }}</p>

            <div class="button-container">
                <form action="{% url 'participant_home' %}">
                    <button type="submit" class="back-button">Back</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
