<!DOCTYPE html>
<html>
<head>
    <title>Register Participant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div class="main-container">
        <div class="content-wrapper1">
            <h1>Participant Registration</h1>
            <form method="post" class="form-container">
                {% csrf_token %}
                <div class="form-section">
                    {{ user_form.as_p }}
                    {{ participant_form.as_p }}
                </div>
                <div class="button-container">
                    <button type="submit" class="submit-button">Register</button>
                </div>
            </form>
        </div>
    </div>
    <div class="button-container">
        <form action="{% url back_url %}">
            <button type="submit" class="back-button">Back</button>
        </form>
    </div>
</body>
</html>
