<!DOCTYPE html>
<html>
<head>
    <title>Participant Options</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="content-wrapper">
            <h1>Participant</h1>
            <p>Do you want to log in or register a new account?</p>
            <form method="post">
                {% csrf_token %}
                <div class="button-container">
                    <button type="submit" name="action" value="login" class="button">Login</button>
                    <button type="submit" name="action" value="register" class="button">Register</button>
                </div>
            </form>

        </div>
    </div>
    <form action="{% url 'home' %}">
        <div class="button-container">
            <button type="submit" class="back-button">Back</button>
        </div>
    </form>
</body>
</html>
