body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(120deg, #ffd1dc, #d4f0fc, #ffdebd, #e8e9f3, #d0e8b5);
    background-size: 400% 400%;
    animation: pastelGradientAnimation 12s ease infinite;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

@keyframes pastelGradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700; 
    font-size: 2.5em; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 25px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.button {
    background-color: #7BBF7A; /* Darker pastel green */
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-button {
    background-color: #7BBF7A;
    color: white;
    padding: 8px 16px;
    font-size: 0.9em;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.button-danger {
    background-color: #F08080;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.button-danger:hover {
    background-color: #E06666;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button-danger:active {
    background-color: #D04C4C;
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}



.back-button:hover {
    background-color: #6FAA6C;
    transform: scale(1.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #6FAA6C;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
    background-color: #5F9C5E;
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.activity-button {
    background-color: #6A9CCB; 
    padding: 8px 16px; 
    font-size: 1em; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.activity-button:hover {
    background-color: #5888A6;
    transform: scale(1.05);
}

.activity-button:active {
    background-color: #4D7F94;
    transform: scale(0.95);
}







.main-container {
    display: flex;
    justify-content: space-between;
    width: 85%; 
    margin: 20px auto;
}

.filter-sidebar {
    width: 20%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
}



.filter-form input,
.filter-form select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.filter-form input[type="date"] {
    width: calc(100% - 20px); 
}

.filter-form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.filter-form {
    display: block;
}

.filter-form button {
    background-color: #D0A7E7; 
    color: white;
    padding: 8px 16px; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em; 
    transition: background-color 0.3s ease;
    width: auto; 
    display: inline-block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
}

.filter-form button:hover {
    background-color: #B583D3;
}

.activity-list {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        width: 95%;
    }

    .filter-sidebar, .activity-list {
        width: 100%; 
        margin-bottom: 20px;
    }

    table {
        width: 100%; 
    }
}
