body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
}

body {
    background: linear-gradient(120deg, #ffd1dc, #d4f0fc, #ffdebd, #e8e9f3, #d0e8b5);
    background-size: 400% 400%;
    animation: pastelGradientAnimation 12s ease infinite;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

@keyframes pastelGradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 400px;
}

.content-wrapper1 {
    position: absolute;
    text-align: center;
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 30px;
    width: 100%; 
    max-width: 700px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.content-wrapper2 {
    position: absolute;
    text-align: center;
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 30px;
    width: 100%; 
    max-width: 400px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    text-align: left;
    padding-left: 60px;
}

h1 {
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700; 
    font-size: 2.5em; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 25px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    width: 50%;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}



.details-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 85%; 
    max-width: 1200px; 
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    width: 85%; 
    max-width: 1200px;
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    max-height: 50px;
}

.organizer-list-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    word-wrap: break-word;
}

.organizer-list-container li {
    position: relative;
    margin: 12px 0;
    padding: 10px 20px 10px 35px;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align: center;
    justify-content: center;
}


.organizer-list-container li::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    display: inline-flex;
    align: center;
}

.organizer-list-container li:hover {
    background-color: #e6f7ff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: auto;
    display: inline-flex;
    align: center;
}

.organizer-list-container a {
    text-decoration: none;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    display: block;
    font-weight: 500;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    width: auto;
    align: center;
}

.organizer-list-container a:hover {
    color: #0056b3;
    text-decoration: underline;
    width: auto;
    align: center;
}

.organizer-list-container a:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.table-container1 {
    width: 85%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background: #ffffff; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    padding-right: 20px;
    overflow-y: visible;
}

.table-container1 h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.table-container h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.organizer-info, .contact-person {
    width: 100%;
    max-width: 600px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    word-wrap: break-word;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px; 
    padding-bottom: 5px;
    margin: 0 auto;
    border-radius: 20px; 
    margin-bottom: 5px; 
}

.contact-person {
    padding: 10px 10px 10px 30px;
}

.details-container > .organizer-info {
    border-right: 1px solid #ddd;
    height: 90%;
}

.details-container .organizer-info {
    border-right: 1px solid #ddd;
}

.organizer-info h3, .contact-person h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.organizer-info p, .contact-person p {
    margin: 8px 0;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
}

@media (max-width: 768px) {
    .details-container {
        flex-direction: column;
        gap: 10px;
    }

    .organizer-info, .contact-person {
        width: 100%; 
        border-right: none;
    }

    .back-button {
        font-size: 0.8em;
        padding: 6px 12px;
        margin-top: 5px;
    }
}

.button-container form {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.button-container form {
    display: inline-block;
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.button {
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    background-color: #7BBF7A;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-button {
    background-color: #7BBF7A;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 40%;
}

.back-button {
    position: fixed;
    top: 5%;
    left: 4%;
    background-color: #7BBF7A;
    color: white;
    padding: 8px 16px;
    font-size: 0.9em;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.activity-button {
    width: 86.4%;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #6A9CCB; 
    padding: 8px 16px; 
    font-size: 1em; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.organizer-button {
    width: 86.4%;
    color: white;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #D0A7E7; 
    padding: 8px 16px; 
    font-size: 1em; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.button-danger {
    background-color: #F08080;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.submit-button {
    width: 30%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #7BBF7A;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.submit-button:hover, button.back-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.button-danger:hover {
    background-color: #E06666;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button-danger:active {
    background-color: #D04C4C;
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.edit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #45a049;
}

.edit-button:focus {
    outline: 2px solid #4CAF50;
}

.update-button {
    background-color: #6A9CCB;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.update-button:hover {
    background-color: #5888A6;
    transform: scale(1.05);
}

.update-button:focus {
    outline: 2px solid #2196F3;
}

.custom-button {
    background-color: white;
    color: #333;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.custom-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: linear-gradient(45deg, #FFB6C1, #A8D8FF, #F4E1D2, #C3E88D);
    border-radius: 50%;
    transition: all 0.6s ease;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.custom-button:hover::before {
    width: 350%;
    height: 350%;
}

.custom-button:hover {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
}

.back-button:hover {
    background-color: #6FAA6C;
    transform: scale(1.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #6FAA6C;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
    background-color: #5F9C5E;
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.home-button:hover {
    background-color: #6FAA6C;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.home-button:active {
    background-color: #5F9C5E;
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.activity-button:hover {
    background-color: #5888A6;
    transform: scale(1.05);
}

.organizer-button:hover {
    background-color: #B583D3;
    transform: scale(1.05);
}

.organizer-button:active {
    background-color: #B583D3;
    transform: scale(0.95);
}

.activity-button:active {
    background-color: #4D7F94;
    transform: scale(0.95);
}

.activity-button:hover {
    background-color: #5888A6;
    transform: scale(1.05);
}

.activity-button:active {
    background-color: #4D7F94;
    transform: scale(0.95);
}



.main-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 20px auto;
}



.main-container1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
}

.main-container2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    width: 60%; 
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    width: 60%; 
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 80%; 
    max-height: 90%;
}

.filter-sidebar {
    width: 20%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: -80px;
}

.filter-sidebar h3 {
    text-align: center;
}
.filter-form input,
.filter-form select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.filter-form input[type="date"] {
    width: calc(100% - 20px);
    font-family: Arial, sans-serif;
    font-size: 1em; 
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.filter-form {
    display: block;
}

.filter-form button {
    background-color: #D0A7E7; 
    color: white;
    padding: 8px 16px; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em; 
    transition: background-color 0.3s ease;
    width: auto; 
    display: inline-block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 20px; 
}

.filter-form button:hover {
    background-color: #B583D3;
}

.activity-list {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: #fff; 
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px 20px 0px 20px;
    padding-right: 0px;
}

.activity-list h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 15px;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; 
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word; 
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        width: 95%;
    }

    .filter-sidebar, .activity-list {
        width: 100%; 
        margin-bottom: 20px;
    }

    table {
        width: 100%;
    }

    .details-container,
    .table-container {
        padding: 10px;
    }

    table {
        width: 100%;
    }
}

.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    text-align: left;
    gap: 20px;
}

.form-container input[type="date"] {
    width: 35%;
    height: 8%;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container select {
    width: 45%;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container1 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container1 h1{
    text-align: center;
}

.form-section {
    margin-bottom: 20px;
}

h2.subheading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.organizer-info {
    width: 100%;
}

.organizer-info input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: -10px;
}

.organizer-info input:focus {
    outline: none;
    border-color: #007bff;
}

.search-button {
    background-color: #6A9CCB;
    color: white;
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-button:hover {
    background-color: #5888A6;
    transform: scale(1.05);
}

.search-button:focus {
    outline: 2px solid #2196F3;
}

@media (max-width: 768px) {
    .organizer-info {
        flex-direction: column;
    }

    .organizer-info input,
    .search-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .organizer-info input {
        margin-right: 0;
    }
}





.details-container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    gap: 20px;
}

.organizer-info1, .contact-person1 {
    width: 100%;
    box-sizing: border-box;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    word-wrap: break-word;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 10px;
}

.organizer-info1 h3, .contact-person1 h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.organizer-info1 p, .contact-person1 p {
    margin: 8px 0;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
}

@media (max-width: 768px) {
    .details-container1 {
        gap: 10px;
    }
    
    .organizer-info1, .contact-person1 {
        width: 100%;
        margin-bottom: 10px;
    }
}

.details-container1 input[type="text"],
.details-container1 input[type="email"],
.details-container1 select {
    width: auto;
    padding: 10px 15px;
    font-size: 0.8em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.details-container1 input[type="text"]:focus,
.details-container1 input[type="email"]:focus,
.details-container1 select:focus {
    border-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}


.form-container2 {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.form-container2 h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 30px;
}

.form-section {
    margin-bottom: 25px;
}

.form-section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.form-section .form-field {
    margin-bottom: 15px;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="password"],
.form-section select {
    width: auto;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-section input[type="text"]:focus,
.form-section input[type="email"]:focus,
.form-section input[type="password"]:focus,
.form-section select:focus {
    border-color: #4CAF50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}
